.post {
  margin-bottom: 25vh;
  
  h1.post--title {
    font-size: $fs-header;
    font-family: $ff-header;
    text-align: center;
    margin-top: 0;

    a {
      color: $clr-accent;
      text-decoration: none;
    }
  }
  
  &--date {
    font-size: $fs-small1;
    text-align: center;
  }

  &--tags {
    font-size: $fs-small2;
    text-align: center;
  }
}
