<!DOCTYPE html>
<html>
  {% if page.title %}
    {% assign title = page.title %}
  {% else %}
    {% assign title = site.title %}
  {% endif %}
  
  {% include head.html title=title %} 

  <body>
    <header class="header">
      <h1 class="header--title"><a href="/">{{ site.title }}</a></h1>
      <div class="header--img">
        {% if site.title_img_link %}
        <a href="{{ site.title_img_link }}"><img src="{{ site.title_img | absolute_url }}"></a>
        {% else %}
        <img src="{{ site.title_img | absolute_url }}">
        {% endif %}
      </div>
    </header>
    {{ content }}
  </body>
</html>
